@model Employee

@{
    ViewData["Title"] = "Employee Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";                                                  
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            @* <div class="col-sm-6">
                <h1>Employee Details</h1>
            </div> *@
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @* <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Employee Details</li> *@
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Employee Detail of @Model.FullName</h3>
                     
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th class="text-muted text-start" style="width: 30%;"> Email:</th>
                                        <td class="fw-bold text-dark text-start"><a href="mailto:@Model.Email" class="text-decoration-none text-dark">@Model.Email</a></td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Position:</th>
                                        <td class="fw-bold text-dark text-start">@Model.Position</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Department:</th>
                                        <td class="fw-bold text-dark text-start">@Model.Department</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Hire Date:</th>
                                        <td class="fw-bold text-dark text-start">@Model.HireDate?.ToString("MMMM dd, yyyy")</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Date of Birth:</th>
                                        <td class="fw-bold text-dark text-start">@Model.DateOfBirth?.ToString("MMMM dd, yyyy")</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Employee Type:</th>
                                        <td class="fw-bold text-dark text-start">@Model.Type</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Gender:</th>
                                        <td class="fw-bold text-dark text-start">@Model.Gender</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted text-start"> Salary:</th>
                                        <td class="fw-bold text-dark text-start">@Model.Salary?.ToString("N2")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-primary btn-lg px-5 py-2 rounded-pill shadow-sm" asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Update">
                                <i class="fas fa-edit"></i> Update
                            </a>
                            <a class="btn btn-danger btn-lg px-5 py-2 rounded-pill shadow-sm" onclick="return confirmDelete()
                                asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Delete">
                                <i class="fas fa-trash"></i> Delete
                            </a>

                            <script>
                                function confirmDelete() {
                                    return confirm("Are you sure you want to delete?");
                                }
                            </script>

                            <a class="btn btn-secondary btn-lg px-5 py-2 rounded-pill shadow-sm" asp-controller="Employee" asp-action="List">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>